

    
#    <center> <b> <span style="color:orange;" >  `Python for Scientific Computing and Software Engineering ` </span> </b></center>


## <center> <b> <span style="color:orange;"> An Initiation to Programming using Python (Init2Py) </span> </b></center>

### <center> <b> <span style="color:blue;"> Travaux Pratiques: Objets it√©rables ou conteneurs</span> </b></center>

###  <center> <b> <span style="color:blue;"> Listes </span> </b></center>

#### **Exercice 00:** 
>**D√©clarer une liste vide.**

In [2]:
A=list()

#### **Exercice 01:** 
>**D√©clarer une liste de plus de 5 √©l√©ments.**

In [3]:
L_A=[5, 6, 7, 9, 34, 'Bonjour', 'Jean']
print(L_A)

[5, 6, 7, 9, 34, 'Bonjour', 'Jean']

#### **Exercice 02:** 
>**Trouver la longueur de votre liste.**

In [4]:
A=len(L_A)
print(A)

7

#### **Exercice 03:** 
>**Obtenez le premier √©l√©ment, l'√©l√©ment central et le dernier √©l√©ment de la liste.**

In [5]:
print(L_A[0])
B=int(A/2)
print(L_A[B])
print(L_A[-1])

5
9
Jean

#### **Exercice 04:** 
>**D√©clarez une liste appel√©e mixed_data_types, mettez votre (nom, √¢ge, taille, √©tat civil, adresse).**

In [6]:
mixed_data_types=['Penda', 26, 1.75, 'Senegal', 'Dakar' ]
print(mixed_data_types)

['Penda', 26, 1.75, 'Senegal', 'Dakar']

#### **Exercice 05:** 

    1. D√©clarez une variable liste appel√©e it_companies et attribuez les valeurs initiales Facebook, Google, Microsoft, Apple, IBM, Oracle et Amazon.

    2. Imprimez la liste √† l'aide de print()

    3. Imprimez le nombre d'entreprises dans la liste

    4. Imprimez la premi√®re, la moyenne et la derni√®re entreprise

    5. Imprimez la liste apr√®s avoir modifi√© l'une des entreprises.

    6. Ajout d'une entreprise informatique √† it_companies

    7. Ins√©rer une entreprise informatique au milieu de la liste des entreprises

    8. Changez le nom d'une des it_companies en majuscule (sauf IBM !)

    9. Joignez les it_companies avec une cha√Æne '# ; '.

    10. V√©rifier si une certaine entreprise existe dans la liste it_companies.

    11. Trier la liste en utilisant la m√©thode sort()

    12. Inversez la liste par ordre d√©croissant √† l'aide de la m√©thode reverse().

    13. Supprimez les 3 premi√®res entreprises de la liste.

    14. Supprimez les 3 derni√®res entreprises de la liste.

    15. Supprimez la ou les entreprises informatiques du milieu de la liste.

    16. Supprimez la premi√®re entreprise informatique de la liste

    17. Supprimez la ou les entreprises informatiques du milieu de la liste.

    18. Retirer la derni√®re entreprise informatique de la liste

    19. Supprimez toutes les entreprises informatiques de la liste

    20. D√©truire la liste des entreprises informatiques

In [8]:
it_companies=['facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle et Amazon']
print(it_companies)
a=len(it_companies)
print('Le nombre d entreprise dans it_companies est :',a)
print('Le premier element de la liste est :',it_companies[0])
moy=int(a/2)
print('La moyenne de la liste est :',it_companies[moy])
print('La derbiere entreprise est :',it_companies[-1])

['facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle et Amazon']
Le nombre d entreprise dans it_companies est : 6
Le premier element de la liste est : facebook
La moyenne de la liste est : Apple
La derbiere entreprise est : Oracle et Amazon

In [9]:
dir(it_companies)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [193]:
it_companies[1]='Youtube'
print(it_companies)

['facebook', 'Youtube', 'Microsoft', 'Apple', 'IBM', 'Oracle et Amazon']

In [194]:
it_companies.append('Informatique')
print(it_companies)

['facebook', 'Youtube', 'Microsoft', 'Apple', 'IBM', 'Oracle et Amazon', 'Informatique']

In [195]:
it_companies.insert(moy, 'ATOS')
print(it_companies)

['facebook', 'Youtube', 'Microsoft', 'ATOS', 'Apple', 'IBM', 'Oracle et Amazon', 'Informatique']

it_companies.join(#)

 Changez le nom d'une des it_companies en majuscule (sauf IBM !)

In [196]:
it_companies[4].upper()

'APPLE'

In [197]:
it_companies.sort()
print(it_companies)

['ATOS', 'Apple', 'IBM', 'Informatique', 'Microsoft', 'Oracle et Amazon', 'Youtube', 'facebook']

In [198]:
it_companies.reverse()
print(it_companies)

['facebook', 'Youtube', 'Oracle et Amazon', 'Microsoft', 'Informatique', 'IBM', 'Apple', 'ATOS']

In [199]:
it_companies.remove('facebook')
it_companies.remove('Youtube')
it_companies.remove('Oracle et Amazon')
print(it_companies)

['Microsoft', 'Informatique', 'IBM', 'Apple', 'ATOS']

In [200]:
it_companies.remove('Apple')
it_companies.remove('IBM')
it_companies.remove('Informatique')
print(it_companies)

['Microsoft', 'ATOS']

In [201]:
it_companies.remove('ATOS')
print(it_companies)

['Microsoft']

In [202]:
it_companies.remit_companiesove('Microsoft')
print()

[]

In [203]:
del it_companies

#### **Exercice 06:** 
**Joindre les listes suivantes :**
     
         front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']  
         back_end = ['Node','Express', 'MongoDB']

In [205]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux'] 
back_end = ['Node','Express', 'MongoDB']
print(front_end+back_end)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

#### **Exercice 07:** 
Voici une liste de 10 √¢ges d'√©tudiants :

         ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
         
 
    1. Trier la liste et trouver l'√¢ge minimum et maximum.
    2. Ajoutez √† nouveau l'√¢ge minimum et l'√¢ge maximum √† la liste.
    3. Trouvez l'√¢ge m√©dian (un √©l√©ment du milieu ou deux √©l√©ments du milieu divis√©s par deux).
    4. Trouvez l'√¢ge moyen (somme de tous les √©l√©ments divis√©e par leur nombre).
    4. Trouver l'intervalle des √¢ges (max moins min)
    5. Comparez les valeurs de (min - moyenne) et (max - moyenne) en utilisant la m√©thode abs().

In [12]:
ages = [19, 22, 16, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print([ages[0]])

[16]

###  <center> <b> <span style="color:blue;"> Dictionnaires </span> </b></center>


1. Cr√©er un dictionnaire vide appel√© `dog`
2. Ajoute le nom, la couleur, la race, les pattes, l'√¢ge au dictionnaire dog.
3. Cr√©ez un dictionnaire student et ajoutez le pr√©nom, le nom, le sexe, l'√¢ge, l'√©tat civil, les comp√©tences, le pays, la ville et l'adresse comme cl√©s pour le dictionnaire.
4. Obtenez la longueur du dictionnaire student
5. R√©cup√©rez la valeur des comp√©tences et v√©rifiez le type de donn√©es, il doit s'agir d'une liste.
6. Modifiez les valeurs des comp√©tences en ajoutant une ou deux comp√©tences.
7. Obtenez les cl√©s du dictionnaire sous forme de liste
8. Obtenir les valeurs du dictionnaire sous forme de liste
9. Transformer le dictionnaire en une liste de tuples en utilisant la m√©thode items()
10. Supprimer un des √©l√©ments du dictionnaire
11. Supprimer un des dictionnaires

In [22]:
dog={}
dog["Nom"] = "Boby"
dog["couleur"] = "Blanche"
dog["race"]= "Bonne Race"
dog["pattes"] = "4 Pattes"
dog["age"] = "2 ans"
dog

{'Nom': 'Boby',
 'couleur': 'Blanche',
 'race': 'Bonne Race',
 'pattes': '4 Pattes',
 'age': '2 ans'}

In [37]:
student={'Adresse' :["Penda", 'Leye', 'Feminin', '25 ans', 'Parcelles', ['Informatique', 'Math'], 'senegal', 'Guediawaye']}
len(student)

1

In [38]:
comp=student['Adresse'][5]
print(comp)
print(type(comp))

['Informatique', 'Math']
<class 'list'>

In [39]:
comp=student['Adresse'][5][0]='physique'
print(comp)
print('---------------')
print(student)
print('---------------')
print(student.keys())
print('---------------')
print(student['Adresse'])
print('---------------')
print(student.items())
print('---------------')
student.pop('Adresse',[0])

physique
---------------
{'Adresse': ['Penda', 'Leye', 'Feminin', '25 ans', 'Parcelles', ['physique', 'Math'], 'senegal', 'Guediawaye']}
---------------
dict_keys(['Adresse'])
---------------
['Penda', 'Leye', 'Feminin', '25 ans', 'Parcelles', ['physique', 'Math'], 'senegal', 'Guediawaye']
---------------
dict_items([('Adresse', ['Penda', 'Leye', 'Feminin', '25 ans', 'Parcelles', ['physique', 'Math'], 'senegal', 'Guediawaye'])])
---------------

['Penda',
 'Leye',
 'Feminin',
 '25 ans',
 'Parcelles',
 ['physique', 'Math'],
 'senegal',
 'Guediawaye']

In [36]:
 del student('Adresse')

SyntaxError: can't delete function call (<ipython-input-36-803dbdd183db>, line 1)

<center> <b> <span style="color:orange;"> üéâ F√âLICITATIONS ! / CONGRATULATIONS !üéâ </span> </b></center>