<center>
    <a href="https://www.aims-senegal.org/" ><img src="aimssn_logo.png" style="float:center; max-width: 600px; display: inline" alt="IMSP"/> </a>
    </center>
    
#    <center> <b> <span style="color:orange;" >  `Python for Scientific Computing and Software Engineering ` </span> </b></center>


## <center> <b> <span style="color:orange;"> An Initiation to Programming using Python (Init2Py) </span> </b></center>

### <center> <b> <span style="color:blue;"> Practicals: Variables, Types & Operations </span> </b></center>

**Exercise 00:**  

> 1. Declare a variable `firstname` and assign it a value.
> 2. Declare a `lastname` variable and assign a value to it.
> 3. Declare a `full_name` variable and assign it a value.
> 4. Declare a `country` variable and assign it a value.
> 5. Declare a variable `city` and assign it a value.
> 6. Declare a `age` variable and assign it a value.
> 7. Declare a variable `year` and assign it a value.
> 8. Declare a variable `is_marrie` and assign it a value.
> 9. Declare a variable `is_true` and assign it a value.

> For each of the above variable, display the value it contains using the `print()` function.

In [2]:
firstname="Mame"
print(firstname)

Mame

In [3]:
lastname="Leye"
print(lastname)

Leye

In [4]:
full_name="Mame Penda Leye"
print(full_name)

Mame Penda Leye

In [5]:
country="Senegal"
print(country)

Senegal

In [18]:
city="Dakar"
print(city)

Dakar

In [6]:
age=26
print(age)

26

In [7]:
year=2021
print(year)

2021

In [8]:
is_married="No"
print(is_married)

No

In [25]:
is_true="yes"
print(is_true)

yes

**Exercise 01:** 
> Check the data type of all your variables using the built-in function `type()`.**

In [12]:
type(firstname)

str

In [13]:
type(lastname)

str

In [14]:
type(full_name)

str

In [16]:
type(country)

str

In [19]:
type(city)

str

In [15]:
type(age)

int

In [11]:
type(year)

int

In [20]:
type(is_married)

str

In [23]:
type(is_true)

str

**Exercise 02:** 
> Calculate the value of $y$ ($y = x^2 + 6x + 9$). Try using different values of $x$ and determine at what value of $x$ will $y$ be equal to 0.**

In [41]:
x=int(input("Entrer x "))
y= x*x + 6*x +9
print(y)
if (x==-3):
    print("Pour -3, y=",y)

Entrer x 2
25

**Exercise 03:** 
>    
     1. Declare your age as an integer variable
     2. Declare your height as a float variable
     3. Declare a variable that stores the base and height of a triangle. Calculate the area of this triangle (area = 0.5 x b x h).

In [44]:
Age=26
height=50.6

In [45]:
base=4.5
height=12
area=0.5*base*height
print(area)

27.0

## *Tip: receiving input from the user *
**To receive an input from the user, we use `input()`.**.

**Example**
Receive two numbers as input from the user and calculate their power:
```python
base = input("Enter a base: ")
exponent = input("Enter an exponent: ")
result = float(base) ** float(exponent)
print(f "{base} to the power of {exponent} = {result}")
```

In [46]:
base = input("Enter a base: ")

Enter a base: 4

In [47]:
exponent = input("Enter an exponent: ")

Enter an exponent: 5

In [52]:
result = float(base) ** float(exponent)
print(base,"to the power of" ,exponent, "=" ,result)

4 to the power of 5 = 1024.0

**Exercise 04:** 
> **Write a small code that asks the user to enter the side $a$, the side $b$ and the side $c$ of a triangle. Calculate the perimeter of the triangle (perimeter = a + b + c).**

In [64]:
a=input("Enter the side  a: ")
b=input("Enter the side b : ")
c=input("Enter the side c : ")

Enter the side  a: 2
Enter the side b : 3
Enter the side c : 4

In [70]:
perimeter= int(a) + int(b) + int(c)
print(perimeter)

9

### **Exercise 05:** 
> **Obtain the length and width of a rectangle using the prompt. Calculate its `area`and its `perimeter`.**

In [73]:
length=input("Entrez la longueur: ")
width=input("Entrez la largeur: ")
area=float(length) * float(width)
print(area)

Entrez la longueur: 4
Entrez la largeur: 4
16.0

**Exercice 06:** 
> **Obtenez le rayon d'un cercle en utilisant l'invite. Calculez l'aire (aire = pi x r x r) et la circonférence (c = 2 x pi x r) où pi = 3,14.**

In [78]:
r=float(input("Entrez la rayon: "))
pi=3.14
aire=float(pi)*r*r
print(aire)

Entrez la rayon: 4
50.24

In [79]:
c=2*pi*r
print(c)

25.12

#### **Exercice 07:**
> **Calculez la pente, l'ordonnée à l'origine en x et l'ordonnée à l'origine en $y$ de $y = 2x -2$.**

In [39]:
a=2
b=2
print("Donne les coordonnes du point A")
x_a=float(input("ENTRER x_a:"))
y_a=float(input("ENTRER x_a:"))
print("Donne les coordonnes du point B")
x_b=float(input("ENTRER x_b:"))
y_b=float(input("ENTRER x_b:"))
f_a=y_a-a*(x_a)+b
f_b=y_b-a*(x_b)+b
import math
A=math.sqrt(y_a-x_a)*(y_a-x_a)
B=math.sqrt(y_b-x_b)*(y_b-x_b)

pente=float(((f_a-f_b)/(B-A)))
print(pente)

Donne les coordonnes du point A
ENTRER x_a:4
ENTRER x_a:5
Donne les coordonnes du point B
ENTRER x_b:5
ENTRER x_b:2

ValueError: math domain error

**Exercice 08:** 
> **Rédigez un script qui demande à l'utilisateur d'entrer les heures et le taux horaire. Calculez la rémunération de la personne ?**

h=int(input("Entrer le nombre Heure: "))
t_h=int(input("Enmtrer le taux Horaire: "))
Salary=h*t_h
print(Salary)

**Exercice 09:** 
> **Écrivez un script qui demande à l'utilisateur d'entrer le nombre d'années. Calculez le nombre d anne qu'une personne peut vivre. Supposons qu'une personne puisse vivre cent ans.**

In [92]:
nbre_anne=int(input("Entrer le nombre d annee: "))
if (nbre_anne<100):
    anne_restant=100-nbre_anne
    print("Elle lui reste a vivre ",anne_restant)
else:
    print("La personne est deja morte")

Entrer le nombre d annee: 129
La personne est deja morte

**Exercice 10:** 
> **Écrivez un script Python qui affiche le tableau suivant**

    1 1 1 1 1
    
    2 1 2 4 8
    
    3 1 3 9 27
    
    4 1 4 16 64
    
    5 1 5 25 125

In [103]:
for i in range(1,6):
    j=1
    print(i,j,i,i*i,i*i*i)

1 1 1 1 1
2 1 2 4 8
3 1 3 9 27
4 1 4 16 64
5 1 5 25 125

**Exercise 11:** 
>**Assign the variables `time` and `distance` with the values $6.892$ and $19.7$. Calculate and display the value of the speed. Improve the display by imposing a digit after the decimal point.**

In [107]:
time=6.892
distance=19.7
vitesse=distance/time
print("%.1f" %distance)

19.7

**Exercice 12:** 
> **Écrire un programme qui, à partir de la saisie d’un rayon et d’une hauteur, calcule levolume d’un cône droit.**

In [110]:
rayon=float(input("Saisir le rayon: "))
hauteur=float(input("Saisir la hauteur: "))
Base=pi*rayon*rayon
volume=(1/3)*Base*hauteur
print("%.3f"%volume)

Saisir le rayon: 7
Saisir la hauteur: 8
410.293

**Exercise 13:** 
> **The user gives a positive integer and the program announces how many times in a row this integer is divisible by 2.**

In [1]:
A=float(input("Saisir un nombre: "))
if (A%2!=0):
    print(A," n est pas divisible par 2")
n=0
while(A%2==0):

SyntaxError: unexpected EOF while parsing (<ipython-input-1-611343eec9e8>, line 6)

**Exercise 14:** 
>**The user gives an integer between 2 and 12, the program gives the number of ways to do this by rolling two dice.

In [22]:
N=int(input ("Entrer un nombre entre 2 et 6 :"))
if (N<2):
    if (N>6):
        print("Entrer un nomre compris entre 2 et 6 :")
for i in range(1,6):
    m=N-i
    if (m>=0):
        print(m,i)

Entrer un nombre entre 2 et 6 :4
3 1
2 2
1 3
0 4

**Exercice 15:** 
> **Utilisez la fonction d'entrée intégrée `input()` pour obtenir le `_prénom_`, le `_nom_`, le `_pays_d_origine` et l'`_age_` d'un utilisateur et stockez la valeur dans les noms des variables correspondantes.**

In [27]:
prenom=(input("Entrez votre prenom :"))
nom=(input("Entrez votre nom :"))
pays_origine=(input("Entrez votre pays :"))
age=(input("Entrez votre age :"))

Entrez votre prenom :Mame Penda
Entrez votre nom :Leye
Entrez votre pays :Senegal
Entrez votre age :26

In [28]:
age

'26'

**Exercice 16:** 

**Déclarer $5$ comme `num_one` et $4$ comme `num_two`**

   1. Additionner `num_one` et `num_two` et affecter la valeur à une variable `totale`.
   2. Soustraire `num_two` de `num_one` et affecter la valeur à une variable `diff`.
   3. Multipliez le `num_one` et le `num_two` et attribuez la valeur à une variable `produit`.
   4. Divisez le `num_one` par le `num_two` et attribuez la valeur à une variable `division`.
   5. Calculez `num_one` à la puissance de `num_two` et attribuez la valeur à une variable `exp`.

In [34]:
num_one=5
num_two=4
totale=float(num_one)+float(num_two)
diff=float(num_one)-float(num_two)
produit=float(num_one)*float(num_two)
division=float(num_one)/float(num_two)
exp=float(num_one) ** float(num_two)
print(totale)
print(diff)
print(produit)
print(division)
print(exp)

9.0
1.0
20.0
1.25
625.0

<center> <b> <span style="color:orange;"> 🎉 FÉLICITATIONS! / CONGRATULATIONS! 🎉 </span> </b></center>